services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: bondstone
      POSTGRES_DB: auctions

  redis:
    image: redis:7

  rabbitmq:
    image: rabbitmq:3-management
    ports:
    - "5672:5672"
    - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 10s
      timeout: 10s
      retries: 5

  mongo:
    image: mongo:7
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: mongopw

  auction-service:
    image: auction-auction-service
    build:
      context: .
      dockerfile: AuctionService/Dockerfile
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://+:7001 
    - RabbitMq__Host=rabbitmq
    - RabbitMq__Username=guest
    - RabbitMq__Password=guest
    ports:
      - "7001:7001"
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_started
      redis:
        condition: service_started

  search-service:
    image: auction-search-service
    build:
      context: .
      dockerfile: SearchService/Dockerfile
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://+:7002
    - RabbitMq__Host=rabbitmq
    - RabbitMq__Username=guest
    - RabbitMq__Password=guest
   
    ports:
      - "7002:7002"
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo:
        condition: service_started

  gateway-service:
    image: auction-gateway-service
    build:
      context: .
      dockerfile: GatewayService/Dockerfile
    environment:
    - ASPNETCORE_ENVIRONMENT=Development
    - ASPNETCORE_URLS=http://+:6001
    ports:
      - "6001:6001"
    depends_on:
      - auction-service
      - search-service

