apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: auction
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:7
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              value: root
            - name: MONGO_INITDB_ROOT_PASSWORD
              value: mongopw
---
apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: auction
spec:
  selector:
    app: mongo
  ports:
    - port: 27017
