apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
  namespace: auction
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
        - name: gateway-service
          image: mp5698/auction-gateway-service:latest
          ports:
            - containerPort: 6001
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Production
            - name: ASPNETCORE_URLS
              value: http://+:6001
            
            - name: JwtSettings__Key
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JwtSettings__Key

---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: auction
spec:
  selector:
    app: gateway-service
  ports:
    - port: 6001
