name: Build and Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push images
        run: |
          docker build -t mp5698/auction-auction-service:${{ github.sha }} -f AuctionService/Dockerfile .
          docker push mp5698/auction-auction-service:${{ github.sha }}

          docker build -t mp5698/auction-gateway-service:${{ github.sha }} -f GatewayService/Dockerfile .
          docker push mp5698/auction-gateway-service:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - uses: actions/checkout@v4

      - name: Set kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

      - name: Update images + apply
        run: |
          kubectl -n auction set image deployment/auction-service auction-service=mp5698/auction-auction-service:${{ github.sha }}
          kubectl -n auction set image deployment/gateway-service gateway-service=mp5698/auction-gateway-service:${{ github.sha }}

          kubectl apply -f k8s/infra
          kubectl apply -f k8s/apps
          kubectl apply -f k8s/frontend
