name: Frontend CI/CD

on:
  push:
    branches: [ "main" ]
    paths:
      - "auction-client/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push frontend image
      uses: docker/build-push-action@v5
      with:
        context: ./auction-client
        push: true
        tags: |
          mp5698/auction-frontend:latest
          mp5698/auction-frontend:${{ github.sha }}
